@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/liberation-sans.min.css");



$font-stack-head: "DM Sans", sans-serif;
$primary-color: #333;

$font-stack-Body: "DM Sans", sans-serif;
$primary-color: #333;

$font-stack-h2: "Liberation Sans", sans-serif;
$primary-color: #333;


$font-stack-head-black: "Roboto Mono", monospace;
$primary-color: #333;

$font-stack-Body-black: "Roboto Mono", monospace;
$primary-color: #333;

$font-stack-h2-black: "Roboto Mono", monospace;
$primary-color: #333;


$font-stack-pagehead: "DM Sans", sans-serif;
$primary-color: #333;

body {
    font-family: $font-stack-Body;
    color: $primary-color;
}

h1 {
    font-family: $font-stack-head;
    color: $primary-color;
}

h5 {
    font-family: $font-stack-Body;
    font-weight: 300;
    color: blue;
}


h3 {
    font-family: $font-stack-head;
    // color: green;
    padding-top: 2rem;
}

h5 {
    font-family: $font-stack-Body;
    color: blue;
}