<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Draft</title>

  <link rel = "stylesheet" href="{{ get_url(path='main.css') }}">
</head>

<header class="topbar">
  <div class="container topbar__inner">
    <div class="logo">Draft</div>

    <div class="nav">
      <a href="#">Projects</a>
      <a href="#">About</a>
      <a href="#">Contact</a>
</div>
</div>
</div>

</header>

<body>
  <section class="section">
    <div class="container">
      {% block content %} {% endblock content %}
    </div>
  </section>
</body>

</html>
