{% extends "base.html" %}

{% block content %}
<!--<div class="page-title">
    {{ section.title }}
    </div>-->
<div class="overallStructure">
  <div class="overallinnerStructure">
    <header class="projstruct">
      <div class= "year">
        <p>YEAR</p>
      </div>
      <div class= "project-list">
        <p>PROJECTS</p>
      </div>
    </header>
    <div class="liststruct">
      <div class="y2">
        <p>2027</p>
        <p>2026</p>
        <p>2025</p>
        <p>2024</p>
        <p>2023</p>
      </div>
      <div class="pro">
        <p>Module 01</p>
        <p>Pack 01</p>
        <p>Humane Enough</p>
        <p>Piece of Shit</p>
        <p>Draft</p>
      </div>
    </div>
  </div>
  <div class="overallinnerStructure">
    <div class="imagestut">
      <div class="imagestuct">
        <div class="imageframe">
          <div>box</div>
        </div>
        <div class="imageframe">
          <div>box</div>
        </div>
        <div class="imageframe">
          <div>box</div>
        </div>
      </div>
      <div class="imagestuct">
        <div class="imageframe">
          <div>box</div>
        </div>
        <div class="imageframe">
          <div>box</div>
        </div>
        <div class="imageframe">
          <div>box</div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- <u1> -->
  <!-- {% for page in section.pages %} -->
  <!-- <li> <a href="{{ page.permalink | safe }}">{{ page.title }}</a></li> -->
  <!-- {% endfor %} -->
  <!-- </ul> -->
{% endblock content %}
