{% extends "base.html" %}

{% block content %}
<style>
    /* Make the entire page background black */
    html,
    body,
    .section,
    .topbar {
        background-color: black !important;
        color: white !important;
    }

    /* Make the header border white */
    .topbar {
        border-bottom: 2px solid white !important;
    }

    /* Force all text and links to be white */
    * {
        color: white !important;
    }

    /* Make h2 elements use Roboto Mono */

    .content h2 {
        font-family: "IBM Plex Mono", monospace !important;
        color: yellow !important;
    }


    .content h3 {
        font-family: "Source Code Pro", monospace !important;
        color: green;
    }
</style>

<div class="project-page-black">
    <div class="project-title-black" style="color: rgb(0, 255, 0) !important;">Humane Enough?</div>
    <div class="project-subtitle-black">Algorithmic Control and Autophobia</div>

    <div class="content" style="max-width: 768px;">
        {{ section.content | safe }}
    </div>
</div>
{% endblock content %}
