{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Index.html
</h1>
<h5 class="username">
  @yoyo
  </h5>

<p class="index"><a href="{{ get_url(path='@/blog/_index.md') }}">Posts edit index.html</a>.</p>

<p class="social"><a href="{{ get_url(path='@/blog/_index.md') }}">Socils edit index.html</a>.</p>

<p class="about"><a href="{{ get_url(path='@/blog/_index.md') }}">About edit index.html</a>.</p>

<p class="text">
 This is text this is text This is text this is text This is text this is text This is text this is text This is text this is text This is text this is text This is text this is text This is text this is tex tv
This is text this is textv
This is text this is textv This is text this is textv
This is text this is textv
v
v
v
v
v
v
v
This is text this is textv
</p>

{% endblock content %}


